NEXT_PUBLIC_MQTT_HOST=wss://broker.hivemq.cloud:8884/mqtt
NEXT_PUBLIC_MQTT_USER=your_mqtt_user
NEXT_PUBLIC_MQTT_PASS=your_mqtt_pass
NEXT_PUBLIC_MQTT_TOPIC=apmbob/tracker/gps
NEXT_PUBLIC_MQTT_TOPIC_ZONE=apmbob/tracker/zone

NEXT_PUBLIC_FIREBASE_API_KEY=your_api_key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=your_project.firebaseapp.com
NEXT_PUBLIC_FIREBASE_DB_URL=https://your-project-default-rtdb.region.firebasedatabase.app
NEXT_PUBLIC_FIREBASE_PROJECT_ID=your_project
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=your_project.firebasestorage.app
NEXT_PUBLIC_FIREBASE_SENDER_ID=your_sender_id
NEXT_PUBLIC_FIREBASE_APP_ID=1:your_sender_id:web:your_app_id
